<section class="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Welcome to life Quotes</h1>
        <p>Life is a beautiful journey that is meant to be embraced to the fullest every day. <br>
          However, that doesn’t mean you always wake up ready to seize the day, and sometimes need a reminder that life is a great gift. <br>
          Whether a funny quote from a famous celebrity or an encouraging message about giving it your best from a successful business person, we can all use a little motivation and inspiration these days via a life quote.

        </p>
        <img src="assets/istockphoto-1130887322-612x612.jpg" alt="" height="230px">
      </div>
    </div>
  </div>
</section>






<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="cards" style="margin-left: 150px; margin-bottom: 15px;" >
        <div class="card" *ngFor='let quote of quotes; let i=index'>
          <div class="card-body" appHighlightQuote *ngIf="highlightHighest() == quote.upVote && quote.upVote > 0">
            <blockquote class="blockquote mb-0 card-body">
              <p>{{quote.quote}}</p>
              <footer class="blockquote-footer">
                <cite title="Source Title">{{quote.author|titlecase}}</cite>
                <small style="float:right; font-size:0.7rem;" (click)="toggleDetails(i);"><b
                    style="color:brown">toggle</b>
                </small>
              </footer>
            </blockquote>
          </div>
          <div class="card-body" *ngIf="highlightHighest() != quote.upVote || quote.upVote == 0">
            <blockquote class="blockquote mb-0 card-body">
              <p>{{quote.quote}}</p>
              <footer class="blockquote-footer">
                <cite title="Source Title" style="color: black;">{{quote.author|titlecase}}</cite>
                <small style="float:right; font-size:0.7rem;" (click)="toggleDetails(i);"><b
                    style="color:brown">toggle</b> </small>
              </footer>

            </blockquote>
          </div>
          <app-quotes-details *ngIf="quote.showDetails " [quote]='quote' (deleteQuote)="deletingQuote($event,i)">
          </app-quotes-details>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<section>
<div class="container" id="form">
  <div class="row">
    <div class="col-md-12">
      <app-quotes-form (addQuotes)="addNewQuote($event)"></app-quotes-form>
    </div>
  </div>
</div>
</section>
  