<div class="card-footer text-muted">
  <small>
    Submitted by {{quote.name}} on {{quote.submissionDate|date}}
</small>

  <button class="btn" style="color:rgb(0, 255, 255);" (click)="quoteDelete(true)">
      <i class="fas fa-trash-alt"></i>
      Delete
  </button>
  <button class="btn"(click)="downVote()" >{{quote.downVote}}
    <i class="fa-solid fa-circle-up"></i>
  </button>
  <button class="btn" (click)="upVote()">{{quote.upVote}}
    <i class="fa-solid fa-circle-down"></i>
  </button>





</div>
